Repository chaance/vitest-axe: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yaml:

pre-commit:
  piped: true
  commands:
    format:
      glob: "*.{ts,js,mjs,md,yaml,yml}"
      run: pnpm prettier {staged_files} -w
      stage_fixed: true

    lint:
      glob: "*.{ts,js,mjs}"
      run: pnpm eslint {staged_files} --max-warnings=0 --fix
      stage_fixed: true

chore(deps): use `es-toolkit` instead of `lodash-es`
  package.json
  pnpm-lock.yaml
  src/axe.ts
Due: format, lint

chore: executed format
  src/axe.ts
Due: format, lint

chore(deps): remove unused packages
  package.json
  pnpm-lock.yaml
Due: format

chore(deps): remove unused packages (#45)
  package.json
  pnpm-lock.yaml
Due: format

chore: update ESLint configs (#46)
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: format, lint

ci: add a publish workflow to npm (#47)
  .github/workflows/release-please.yaml
  package.json
Due: format

ci: add `registry-url`
  .github/composite-actions/install/action.yaml
Due: format

ci: update `Publish` step
  .github/workflows/release-please.yaml
Due: format

ci: add `.github/dependabot.yaml`
  .github/dependabot.yaml
Due: format

ci: update `Publish` step
  .github/workflows/release-please.yaml
  CHANGELOG.md
Due: format

ci: add `.github/dependabot.yaml` (#51)
  .github/dependabot.yaml
Due: format

ci(renovate): execute prettier to `.github/renovate.json`
  .github/renovate.json
Due: none

ci(renovate): Executed Prettier to `.github/renovate.json` (#59)
  .github/renovate.json
Due: none

chore: add `CODEOWNERS`
  .github/CODEOWNERS
Due: none

chore: add `CODEOWNERS` (#60)
  .github/CODEOWNERS
Due: none

chore: Update a policy of `.engines` in `package.json` (#61)
  .npmrc
  package.json
Due: none

chore(peerDeps): update `vitest` to `^2.0` (#62)
  package.json
Due: none

chore: Update the supporting policy for Node.js v18 (#63)
  .npmrc
  package.json
Due: none

ci(renovate): update `rangeStrategy` (#66)
  .github/renovate.json
Due: none

chore(peerDeps): update `vitest` to `>=2` (#67)
  package.json
Due: none

chore(Renovate): update extends
  .github/renovate.json
Due: none

fix readme
  README.md
Due: format

update nvmrc
  .nvmrc
Due: none

add pnpm version info
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
Due: format

update ci
  .github/workflows/ci.yml
Due: format

update axe core
  package.json
  pnpm-lock.yaml
Due: format

update tests to match updated axe core output
  src/__snapshots__/matchers.test.ts.snap
  src/__snapshots__/readme.test.ts.snap
  src/index.test.ts
Due: format, lint

update deps
  package.json
  pnpm-lock.yaml
  src/__snapshots__/matchers.test.ts.snap
  src/__snapshots__/readme.test.ts.snap
  src/utils.ts
  test/setupTests.ts
  tsconfig.json
Due: format, lint

eslint config
  eslint.config.js
Due: format, lint

bump vitest peer dependency to v2+
  package.json
Due: none

revert version update
  .eslintignore
  .eslintrc.cjs
  package.json
Due: none

revert snapshot changes
  src/__snapshots__/matchers.test.ts.snap
  src/__snapshots__/readme.test.ts.snap
  src/readme.test.ts
Due: format, lint

force color in tests
  .github/workflows/ci.yml
  package.json
Due: format

env fix
  package.json
  pnpm-lock.yaml
Due: format

v1.0.0-pre.4
  package.json
Due: none

lower peer dep to v1
  CHANGELOG.md
  package.json
Due: format

v1.0.0-pre.5
  package.json
Due: none

upgrade dependencies
  package.json
  pnpm-lock.yaml
Due: format
